<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<h2>You have been granted access to the Ribbon Tool for <%= @user.institution.name %>.</h2>

<p>
    Visit <a href="<%= root_url %>"><%= root_url %></a> to get started.
</p>

</body>
</html>

