table.dataTable thead .sorting {
  background: asset-url('dataTables/sort_both.png') no-repeat center right !important;
}
table.dataTable thead .sorting_asc {
  background: asset-url("dataTables/sort_asc.png") no-repeat center right !important;
}
table.dataTable thead .sorting_desc {
  background: asset-url("dataTables/sort_desc.png") no-repeat center right !important;
}
table.dataTable thead .sorting_asc_disabled {
  background: asset-url("dataTables/sort_asc_disabled.png") no-repeat center right !important;
}
table.dataTable thead .sorting_desc_disabled {
  background: asset-url("dataTables/sort_desc_disabled.png") no-repeat center right !important;
}